<h1>hello</h1>
<div class="container">
  <div>
  <%= cl_image_tag @user.photo.key %>
  <%= @user.name %>
  <%= link_to "send message", buddy_request_profile_conversations_path(@buddy_request, buddy), method: :post, class: "btn btn-link" %>
  </div>
</div>
