// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00BD9D;
$yellow: #FFC65A;
$orange: #00BD9D;
$green: #00BD9D;
$gray: #0E0000;
$light-gray: #F4F4F4;


body {
  background-color: white !important;
}
