// Specific CSS for your home-page

// product image+title+description+CTA+map
.container-cards-map {

}

//product image+title+description+CTA
.cards {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: inline;
  padding: 16px;
}

//image
.cards img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

//title+description+CTA
.card-boddy {

}

//title
.d-flex {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

//description
.card-text {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

//CTA
.btn {

}



.card-product h2 {

}


