<div class="container col-lg-8 justify-content-center pl-5">
 <div class="border_buddy">
  <h1>Request a buddy for <%= @sport.name %> </h1>
  <h4>Select a date to find a buddy</h4>
    <div class="d-flex">
      <%= simple_form_for([ @sport, @buddy_request ]) do |f| %>
      <div class="row form-inline text-secondary">
        <%= f.input :date, as: :date, html5: true %>
        <%= f.submit class: "btn btn-warning text-white" %>
      <% end %>
      </div>
    </div>
   </div>
</div>
