

<div class="container">
  <h1>Request a buddy for <%= @sport.name %> </h1>
  <h2>Select a date to find a buddy</h2>
    <div class="d-flex">
      <%= simple_form_for([ @sport, @buddy_request ]) do |f| %>
      <div class="row form-inline text-secondary">
        <%= f.input :date, as: :date, html5: true %>
        <%= f.submit class: "btn btn-primary text-white" %>
      <% end %>
      </div>
    </div>
</div>
