.card-product {
  margin-bottom: 20px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.avatar-large {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 831px;
  top: 278px;
}

.description {
  position: absolute;
width: 597px;
height: 152px;
left: 175px;
top: 281px;
border: 1px solid;
drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
