.card-product {
  margin-bottom: 20px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;

  width: 80%
}

.ptext {
  color: grey;
  white-space: nowrap !important;
}

.card-product .card-product-infos {
  padding: 16px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 100%;
}

.avatar-large {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 50px;
}

.profile {
  width:900px;
}
.description {
  font-weight: normal;
  padding: 20px;
  background: #F9F9F9;
  width: 780px;
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  border-radius: 8px;

}

.description p {
 font-weight: bold;
}

.btn-ghost {
  color: #0805A8;
  border: 1px solid #0805A8;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 16px;
  margin-right: 8px;
}

.tags {
  width: 400px;
  }

.border {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  padding: 40px;
  border-radius: 5px;
  margin-top: 80px;
}

.textlist {
  margin-top: 20px;
}

.lists li {
  margin-top: 10px;
  font-weight: normal;
}
