.profile_card {
  width: 250px;
  display: flex;
  margin: 40px;
  border-radius: 4px;
}

.suggestions {
  background-color:#FAFAFA;
  color: black;
  width: 200px;
  padding-left: 10px;
  margin-top: -2px;
  top: 317px;
}
  h5{
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
}

