.mapboxgl-popup {
  max-width: 200px;
  position: sticky;
  top: 0;
  object-fit: cover;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  object-fit: cover;
}
