.sender-message {
  background-color: var(--orange);
  border: none;
}

.message-container {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px black solid;
}



.conversation-card-info {
   padding-left: 20px;
}
