.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 100;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;

}

.nav-link {
  color: $orange !important;
  font-weight: bold;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.puppy-title {
  padding-left: 15px;
  font-weight: bold;
}



.container-login {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  height: 400px;
}


.container-signup {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  height: 500px;
}
