#search-data {

  input {
    height: 40px;
    border-radius: 4px;
    border: none;
    &[type="text"] {
     padding-left: 12px;
    }

  }
}

.bannertext {
  width: 600px;
  }

.search_box {
  padding-right: 16px;
}

.algolia-places {
  width: 230px !important;
  margin-right: 5px;
  margin-left: 5px;
  text-align: left !important;
}
